*~
*.la
*.lo
*.log
*.trs
*.o
.deps
.libs
.nfs*
Makefile
Makefile.in
aclocal.m4
autom4te.cache
autoscan.log
compile
config.*
configure
depcomp
gmon.*
install-sh
libtool
ltmain.sh
missing
mydata
stamp-h1
test-driver

src/bin/decode
src/bin/train
src/test/*_test

new_src/bin/decode
new_src/bin/train
new_src/test/*_test

